BODY {
	font-family : calbiri ;
	font-size : 10pt;
	
}
A {
	text-decoration: underline;
	color: #6600CC;
}

A:Hover {
	text-decoration: underline;
	color: #CC0066;
}

h1 {
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
	position: relative; 
	font-size: 24px;
	line-height: 60px;
	padding: 15px 15px 15px 1%;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
/* 	box-shadow:  */
/* 		inset 0 0 0 1px rgba(53,86,129, 0.4),  */
/* 		inset 0 0 5px rgba(53,86,129, 0.5), */
/* 		inset -285px 0 35px white; */
/* 	border-radius: 0 10px 0 10px; */
	background: #45c693  url(../image/wink.png) no-repeat center left;
}

h2 {
	margin: 0 0 0.5em 0;
	font-weight: normal;
	position: relative;
	font-size: 16px;
	line-height: 30px;
	background: #c0c3c6;
	border: 1px solid #fff;
	padding: 5px 5px;
	color: white;
/* 	border-radius: 0 10px 0 10px; */
/* 	box-shadow: inset 0 0 5px rgba(53,86,129, 0.5); */
	font-family: 'Muli', sans-serif;
}

#userName{
	text-align:right
}

h3 {
	margin: 1em 0 0.5em 0;
	font-weight: bold;
	font-family: 'Titillium Web', sans-serif;
	position: relative;
/* 	text-shadow: 0 -1px 1px rgba(0,0,0,0.4); */
	font-size: 15px;
	line-height: 40px;
	color: #808080;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(53,86,129, 0.3);
	text-decoration:underline;
}

#error{
	background-image: url("image/error.jpg")
}

h4 {
	margin: 1em 0 0.5em 0;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
	position: relative;
	font-size: 12px;
	line-height: 20px;
	color: #788699;
	font-family: 'Muli', sans-serif;
}

button {
	border : thin;
	border-style : none none none none;
	background : #788699;
	margin : 0px 0px 0px 0px;
	padding : 0px 0px 0px 0px;
	white-space : normal;
	width : auto;
}

frame	{
	margin : 0px 0px 0px 0px;
	border : none;
	border-width : 0px 0px 0px 0px;
	padding : 0px 0px 0px 0px;
}

ul {
	
    margin: 0; 
    padding: 26px 0px 0px 0px;
    width:160px;
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: white; 
    padding: 25px 11px;
    background-color: #45c693;
    display:block;
    font-weight:bold;
}
 
ul li a:visited {
    color: white;
}
 
 ul li a:hover, ul li  {
    color: white;
    background-color: #259e6f;
}

table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	border-collapse: collapse;
	
}
th
{
	font-size: 14px;
	font-weight: normal;
	color: #1d8499;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
td
{
	color: #1d8499;
	padding: 9px 8px 0px 8px;
	
}
tbody tr:hover td
{
	color: #1d8499;
}

/* .bclass button { */
/*     background-color: #002b55;  */
/*     border: none; */
/*     color: white; */
/*     padding: 15px 32px; */
/*     text-align: center; */
/*     text-decoration: none; */
/*     display: inline-block; */
/*     font-size: 16px; */
/* } */

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/* footer{	 */
/*     left: 0; */
/*     bottom: 0; */
/*     height: 100px; */
/*     width: 100%; */
/*     overflow:hidden; */
/*     position: absolute; */
/*     bottom: 0; */
/*     padding-top:3px */
/* } */

#products #PartTable #sTable {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#products td, #products th, #PartTable td, #PartTable th, #sTable td, #sTable th {
	border: 1px solid #ddd;
	padding: 8px;
}

#products tr:nth-child(even), #PartTable tr:nth-child(even),#sTable tr:nth-child(even){
	background-color: #f2f2f2;
}

#products tr:hover, #PartTable tr:hover, #sTable tr:hover{
	background-color: #ddd;
}

#products th, #PartTable th, #sTable th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #45c693;
	color: white;
}

#products td, #PartTable td, #sTable td{
	text-align: center;
}

#cat{
	float:right
}
